

html {
  background-color: 	#fbedea;
  padding: 0;
}

h1{
  margin-top: 0;
  background-color: #837260;
  position: relative;
  top: 0;
  margin-bottom: 0;
  height: 75px;
  font-family: 'Signika', sans-serif;
  font-size: 75px;
  padding-top: 10px;
  padding-bottom: 15px;
  text-shadow: 2px 2px #afafaf;
}

h2{

}

h3{
  background-color: #ffabc0;
  position: relative;
  top: -25;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Crete Round', serif;
  font-size: 30px;
}

.why{
  position: relative;
  margin-top: 100;
}

.nav{

  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  font-family: 'Signika', sans-serif;
  font-weight: 600;
  list-style-type:none;
  font-size: 25 px;
}
ul{
  margin-left: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
}
li{
  background-color: #837260;
  margin-left: 0;
  width: 20%;
  float: left;
  text-align: center;
  padding-top: .5%;
  padding-bottom: .5%;
}


body{
  overflow: auto;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  position: sticky;
  height: 100%;
}
